#xbtn{
    display: none;
}

#mnbtn{
    display: none;
}

#sn{
    display: none;
}





@media screen and (max-width: 800px) {

    #mv{
        display: none;
    }

    #xbtn{
        display: inline;
    }

    #sn{
        display: inline;
    }

    #mnbtn{
        display: inline;
        flex-grow: 1;
        margin-left: 70%;
        margin-top: 3%;
        color: rgb(228, 22, 36);
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        margin-right: 0%;
        }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        display: block;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        margin-top: 50px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: rgb(228, 22, 36);
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        margin-top: 0px;
    }
}







@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.galleryContainer{
    width: 600px;
    height:450px;
    max-width: 1000px;
    margin: auto;
    user-select: none;
    padding: 10px;
    box-sizing: border-box;
}




@media screen and (max-width: 600px) {
    .galleryContainer{
        width: 400px;
        height: 300px;
        max-width: 500px;
    }
}

.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
    border-radius: 30px;
}
.galleryContainer .slideShowContainer #playPause{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(images/playPause.png);
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}
.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}
.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}




.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}
}
.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}

body{
    background-image: url(Images/black.jpg);
    background-size: ;
    background-repeat: no-repeat;  
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
img{
    margin:0;
    background-size: cover;
    background-repeat: no-repeat; 
    width: auto;
    border-radius: 30px;
}
#startimage {
    display: block;
    margin-left: auto;
    margin-right:0;
    height: 66vh;
  }

.page{
    margin:0;
    padding: 0;
}

#start{
    background-color: rgb(228, 22, 36);
    height: 50vh;
    margin-top: 8%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 7.6%;
}

#istaknuto{
    background-color: rgb(228, 22, 36);
    height: 90vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 7.6%;
}



* {
    box-sizing: border-box
}

.container2 {
    width: 100%;
    max-width: 1260px;
    padding: 0 12px;
    margin: 0 auto;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -12px;
}

.column2 {
    flex: 1 1 25%;
    padding: 20px 12px;
    text-align: center;
}


.ih{
    color: white;
}



@media screen and (max-width: 950px) {

    .column2-2 {
        flex: 0 0 50%;
    }

    #istaknuto{
        height: 125vh;
    }

}



@media screen and (max-width: 500px) {

    .column2-2 {
        flex: 0 0 100%;
    }
    
    #istaknuto{
        height: 210vh;
    }

}

.adst{
    display: block;
    text-align: center;
}
.adst a{
    font-size: 30px;
    color: white;
    padding: 20px;
}
.adst a:hover{
    background-color: rgb(228, 22, 36);
    border-radius: 20px;
}








#footer{
    background-color: rgb(228, 22, 36);
    height: 20.8vh;
    margin: 0;
}

.firstrow{
    display:flex;
}


#soclogos{
    flex-grow: 1;
    margin-right: 30px;
    margin-top:10px;
    text-align: right;
}


.sl{
    width: 30px;
    height: 30px;
    margin: 15px;
}

.sl:hover{
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: all 0.2s ease-in;
}

.secondrow{
    text-align: center;
    margin: 0;
}

#welcometxt{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
}

#baratto2{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}



#second{
    height: 100vh;
}

#secondback{
    height: 85vh;
    margin-bottom: 0;
    background-color: rgb(228, 22, 36);
}


.container {
    width: 100%;
    padding: 0 0px;
    margin: 0 0;
    display: flex;
}

.container-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.container-menu-food {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    align-items: flex-start;
}

.container-items {
    width: 100%;
    padding: 0 0px;
    margin: 0 auto;
    display: block;
}

.content-section {
    width: 100%;
    padding: 0 0px;
    margin: 0;
    display: block;
}



#logo-holder {
    flex-grow: 1;
    text-align: left;
    padding: 30px 30px;
    width: 100px;
    height: 100px;
    margin: 0;
}

.flexn{
    display: flex;
}

.fl1{
    flex-grow: 1;
}

.fl2{
    flex-grow: 1;
    text-align: center;
    margin-right: 100px;
}

.fl3{
    flex-grow: 1;
}


@media screen and (max-width: 1170px) {

    #fm a{
        font-size: 15px;
    }
    
}


@media screen and (max-width: 990px) {

    #fm a{
        font-size: 10px;
    }
    
}


@media screen and (max-width: 800px) {

    #logo{
        
        height: 50px;
        width: auto;
    }
    #logo-holder {
        padding: 15px 15px;
    }
    
}



.menu-nav ul
{
    margin-top: 0;
    padding-top:60px; 
    padding-right: 60px;
}

.menu-nav li
{
    display: inline;
    margin: 20px;
}

.menu-nav a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}


a {
    text-decoration: none !important;
}


.menu-nav li a:hover
{
    color:rgb(228, 22, 36);
    border-bottom: 2px solid rgb(228, 22, 36);
    border-top: 2px solid rgb(228, 22, 36);
    transition: all 0.2s ease-in;
    padding: 5px 0;

}

.nav ul {
    margin-top: 5em;
}

.nav li {
    display: inline;
    margin: 20px;
}

.nav a {
    color: black;
    text-decoration: none;
}

.food-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

#fn ul{
    padding-right: 0;
}



.nav a:hover {
    color:rgb(228, 22, 36);
    border-bottom: 2px solid rgb(228, 22, 36);
    border-top: 2px solid rgb(228, 22, 36);
    transition: all 0.2s ease-in;
    padding: 5px 0;
}


#highlightmenu{
    color: rgb(228, 22, 36);
}

#highlightfood{
    color: rgb(228, 22, 36);
}


* {
    box-sizing: border-box
}

.section-header {
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 2.5em;
}


.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
}


.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3%;
}

.shop-item {
    flex: 1 1 33%;
    padding: 15px 12px;
    text-align: center;
}

.shop-item-image {
    width: 90%;
    height: auto;     
}

@media screen and (max-width: 890px) {

    .column-3 {
        flex: 0 0 50%;
    }

}


@media screen and (max-width: 520px) {

    .column-3 {
        flex: 0 0 100%;
    }

}


.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px 5%;
}

.shop-item-price {
    margin-left: 0%;
    color: #333;
}

.shop-item-button{
    margin-right: 0%;
    margin-left: auto;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 ;
}

.column3 {
    flex: 1 1 100%;
    padding: 0 12px;
    text-align: left;
}



#knt{
    margin: 8px auto;
}


#map{
    text-align: center;
}


.inf{
    width: 62%;
    margin: 0 auto;
    padding-bottom: 1px;
    background-color: rgb(228, 22, 36);
    border-radius: 20px;
}

iframe{
    border-radius: 30px;
}

@media screen and (max-width: 836px) {

    .inf{
        width: 80%;
        margin: 0 auto;
        background-color: rgb(228, 22, 36);
    }
}

@media screen and (min-width: 836px) {

    .column-6 {
        flex: 0 0 50%;
    }
}

.btn-primary {
    color: white;
    background-color:rgb(228, 22, 36);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color:rgb(150, 20, 30);
}

#orange{
    background-color: rgb(228, 22, 36);
}

#orange:hover{
    background-color: rgb(150, 20, 30);
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    margin: 0 10px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: white;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: rgb(139, 138, 138);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: rgb(114, 112, 112);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(228, 22, 36);
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid white;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

#ukupno{
    color: white;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-confirmation {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color:rgb(228, 22, 36);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    display: block;
    margin: 40px auto 80px auto;
    font-size: 0.8em;
}

#idor{
    width: 5%;
    margin: 10px auto;
    display: block;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 4px;
    box-sizing: border-box;
}

#plavi{
    background-color: rgb(0, 0, 255);
}

#plavi:hover{
    background-color: rgb(14, 14, 167);
}

#crveni{
    background-color: rgb(228, 22, 36);
}

#crveni:hover{
    background-color: rgb(150, 20, 30);
}



textarea{
    width: 40%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    box-sizing: border-box;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 15px;
}


input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 15px;
    box-sizing: border-box;
  }

  input[type=email] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 15px;
    box-sizing: border-box;
  }

  input[type=tel] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 15px;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 15px;
    box-sizing: border-box;
  }

  #pass{
    width: 15%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 4px;
    box-sizing: border-box;
  }

  #user{
    width: 15%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 2px solid rgb(228, 22, 36);
    border-radius: 4px;
    box-sizing: border-box;
  }

  .korloz{
      margin-left: 42.5%;
  }
  
 

  input[type=submit] {
    background-color: rgb(228, 22, 36);
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(150, 20, 30);
  }
  
  .form {
    border-radius: 5px;
    padding: 20px;
  }

  .txt{
      margin-left: 30%;
  }
 

  .txtx{
    text-align: center;
}

#odjava{
    text-align: right;
}

table {
    
  }

  
  @media screen and (max-width: 700px) {
    input[type=text], input[type=tel], input[type=email] {
      width: 100%;
      margin-top: 0;
    }
    
    textarea{
        width: 100%;
    }
    .txt{
        margin-left: 0%;
    }
    table {
        width: 100%;
    }
    .korloz{
        margin-left: 25%;
    }
    #user{
        width: 50%;
    }
    #pass{
        width: 50%;
    }
  }
  


  .content-table {
    width: 80%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: rgb(228, 22, 36);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
  }

  .content-table tbody tr:nth-of-type(even) {
    background-color: rgb(190, 187, 187)
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(228, 22, 36);
  }
  

